<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interview Questions</title>
    <meta charset="UTF-8"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script th:src="@{/script.js}" defer></script>
</head>
<body class="flex min-h-full flex-col bg-white dark:bg-slate-900">
<main class="mx-auto w-full max-w-2xl px-4 sm:px-6 lg:px-8">
<h1>Выберите категории</h1>
<form action="/question" method="get">
    <ul class="categories-list">
        <li th:each="cat : ${categories}">
            <label>
                <input type="checkbox" name="category" th:value="${cat}" th:checked="${selectedCategories != null} ? ${selectedCategories.contains(cat)} : false"/>
                <span th:text="${cat}"></span>
            </label>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary mt-4">Получить вопросы</button>
</form>
</main>
</body>
</html>
