<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вопрос</title>
    <meta charset="UTF-8"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script th:src="@{/script.js}" defer></script>
</head>
<body class="flex min-h-full flex-col bg-white dark:bg-slate-900">
<main class="mx-auto w-full max-w-2xl px-4 sm:px-6 lg:px-8">
<h1 th:text="'Категории: ' + ${#strings.listJoin(categories, ', ')}"></h1>
<div th:if="${qa != null}">
    <h2 th:text="${qa.category}"></h2>
    <p th:utext="${qa.question}"></p>
    <details>
        <summary>Ответ</summary>
        <p th:utext="${qa.answer}"></p>
    </details>
</div>
<div th:if="${qa == null}">
    <p>No questions found.</p>
</div>
<a th:href="@{/}" class="btn btn-primary m-1">К категориям</a>
<a th:href="@{/question(nav='back')}" class="btn m-1">Назад</a>
<a th:href="@{/question(nav='next')}" class="btn m-1">Следующий</a>
</main>
</body>
</html>
